google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
google-generativeai

pyautogui
pyttsx3
PyAudio
selenium
pyautogui
g4f
schedule
nltk
numpy

prompt_toolkit
webdriver-manager
word2number
requests
tk-tools
SpeechRecognition